body{
	color: #333;
	background-color: #d4d5e0;
    background-image: url(../img/body_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
input:focus{
	 border-color:#f00!important ;
}
/******nav****/
.am-topbar{
	padding:0px 20px;
}
.am-topbar-brand img{
	margin-top:-9px;
}
.am-form-field{
	padding:0.7em;
	font-size: 0.6rem;
	width: 25rem!important;
}
.am-topbar{
	background: #fff;
}
.am-btn-default{
	background: #fff;
	border: 0;
	font-size: 16px;
}
.am-btn-default:hover{
	background: #fff!important;
	color: #ffa144;
}
.am-btn-default:focus{
	background: #fff;
	border: 0;
	box-shadow: 0 0 0 rgba(0,0,0,.0);
}
button {
	outline: 0!important;
}
@media only screen and (min-width:640px ) {
.login:after{
	display: block;
    content: '';
    width: 1px;
    height: 18px;
    background: #ccc;
    margin-left: -18px;
    margin-top:-16px
}
}
.search-box{
	display: none;
	height: 330px;
	width: 25rem;
	background: #fff;
	border: 1px solid #ccc;
	position: fixed;top:45px;left: 130px;
	padding: 5px 10px;
	font-size: 12px;
	cursor: pointer;
	z-index: 99999;
}
.search-box .search-nav{
	display: block;
	height: 30px;
	padding:6px 0px;
}
.search-box .search-nav:hover{
	background: #fafafa;
}
.search-box p{
	margin:0!important;
	display: inline-block;
}
.search-box .num-bg{
	text-align: center;
	display: inline-block;
	width: 15px;height: 15px;border-radius:7.5px ;
	font-size: 10px;
}
/********顶部下面的***/

 .tab_inner ul{
 	height: 36px;
 	list-style: none;
 }
  .tab_inner ul a{
  	display: inline-block;
  	line-height: 36px;
  	height: 36px;
  	color: #333;
  	font-size: 16px;
  }
  hr{
  	margin-top:0px;
  }
  .tab_inner ul li:hover{
  	border-bottom: 2px solid #FA7D3C;
  }
 /********video******/
.arrow-right{
	position: absolute;
	right: 2px;top: 50%;
	margin-top: -12.5px;
	font-family: "宋体";
	font-weight: 700;
	color: #fff;
}
.weibo{
	margin-top: 20px;
	border: 1px solid #f0f0f0;
	border-radius: 4px ;
	padding: 10px 10px;
}
.guanzhu {
	font-size: 12px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1),-1px -1px 3px rgba(0,0,0,.1);
}
/*******侧边栏*****/
.cebian{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border: 1px solid #f0f0f0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	padding: 0px 15px;
	margin-bottom: 10px;
}
.cebian-video{
	border: 1px solid #F0F0F0;
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
}
.cebian-video:hover .am-icon-play-circle-o{
	display: block;
}
.arrow-right:hover{
	color: #FFAD6D;
	cursor: pointer;
}
.am-icon-play-circle-o{
	display: none;
	font-size: 24px;
	color: #FFAD6D;
	position: absolute;top:50%;left: 17.5%;
	margin-top: -19px;
}
.cebian-box{
	transition: all 500ms linear ; 
}
.loadmorebtn:hover{
	color: #FFAD6D;
	cursor: pointer;
}
/*******footer****/
footer a,span{
	font-size: 12px;
	color: #a0a0a0;
}
footer a:hover{
	color: #FFAD6D;
}
.copy,.copy_v2{
	line-height: 1em;
    margin-bottom: 10px;
}
.copy a,.copy_v2 a{
	margin-right: 20px;
}
footer span{
	margin-right: 20px;
}
.ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal!important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}
